<table border="0" width="100%">
    <tbody>
        <tr>
            <td>
                <img src="img/Logo_30nam.gif" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="img/1891_vn.gif" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="img/Thoitiet1.jpg" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="img/pic_functional.jpg" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="img/pic_km.jpg" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="img/pic_new.jpg" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="img/Logo_CauChuyenVinamilk.gif" alt=""/>
            </td>
        </tr>
    </tbody>
</table>

