/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2016, 9:14:10 AM
    Author     : hv
*/

body{
    font-family: Arial;
    font-size:14px;
    color:#000;
    background-color: #fff;
    line-height:1.4;
}
#container{
    width:960px;
    margin:0 auto;
    overflow: auto;
}
#col_1{
    width:180px;
    float:left;
}
#col_2{
    width:600px;
    float:left;
}
#col_2 img{
    width:80px;
    height:80px;
}
#col_3{
    width:180px;
    float:right;
}
#col_3 img{
    width:100%;
}
#footer{
    clear:both;
    background-color:blue;
    color:white;
    text-align: center;
}
ul{
    list-style-type:none;
}